@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


html {
  font-size: 10px;
  background: url('./background.jpg') bottom center no-repeat;
  background-size: cover;

}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 8rem;
  font-family: 'Berkshire Swash', cursive;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, rgb(94, 4, 4));   
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: .2rem #fff;

}

.keys {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 

  
}

.layer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layer3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key {
  border-radius: 50%;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease-in-out;
  width: 10rem;
  text-align: center;
  color: rgb(103, 31, 79);
  background: rgba(171, 107, 107, 0.4);
  text-shadow: 0 0 .5rem black;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  animation: glassEffect 2s infinite;


}


@keyframes key {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.playing {
  transform: scale(1.1);
  border-color: rgb(168, 47, 164);
  box-shadow: 0 0 2rem rgb(14, 20, 193);
}

kbd {
  display: block;
  font-size: 4rem;
  padding-top: 10px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #b71eb7;
  font-weight: 600;
}

.characters {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.characters {
	animation-name: floating;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(10px, 25px); }
  75% { transform: translate(20px, 35px); }
	100% { transform: translate(10px, -10px); }
}


@media (max-width:768px) {

  body {
    width: 100%;
    
  }


}